altgraph==0.17.5
bottle==0.13.4
cffi==2.0.0
charset-normalizer==3.4.9
clr_loader==0.3.1
comtypes==1.4.16
cryptography==49.0.0
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.2
pdfminer.six==20260107
pdfplumber==0.11.10
pefile==2024.8.26
pillow==12.3.0
proc-tap==1.1.1
proxy_tools==0.1.0
psutil==7.2.2
PyAudioWPatch==0.2.12.8
pycparser==3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pypdf==6.14.2
pypdfium2==5.11.0
pystray==0.19.5
pythonnet==3.1.0
pywebview==6.2.1
pywin32==312
pywin32-ctypes==0.2.3
scipy==1.18.0
setuptools==82.0.1
six==1.17.0
typing_extensions==4.16.0
websocket-client==1.9.0
windows-capture==2.0.0
